html{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, sans-serif;
}

header{
  background-color: #808080;
  direction: row;
  align-items: fill;
  padding: 10px 20px;
  gap: 15px;
}

headerp{
  font-size: 15px;
}

main{
  align-items: center;
  direction: column;
  wrap: wrap;
}

fun{
  padding: 10px;
}

funp{
  font-size: 10px;
}


oma{
  padding: 10px;
}

omap{
  font-size: 10px;
}